<h2 class="content-block">User Detail</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-form id="form"
             [formData]="user"
             labelLocation="top"
             [colCountByScreen]="colCountByScreen">

      <dxi-item dataField="ID" [editorOptions]="{ width: '100%'}" [colSpan]="1"></dxi-item>
      <dxi-item dataField="ID" [editorOptions]="{ width: '100%'}" [colSpan]="1"></dxi-item>
      <dxi-item dataField="Description"
                editorType="dxTextArea"
                [colSpan]="2"
                [editorOptions]="{ height: 140, width: '100%' }">
      </dxi-item>

    </dx-form>
  </div>
</div>

<div class="content-block dx-card responsive-paddings">


</div>



